---
import { getCollection, render } from "astro:content";
import Layout from "../../core/ui/layouts/Layout.astro";
import { DependencyLocator } from "../../core/di/DependencyLocator";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { astroPost: post },
  }));
}

const { astroPost } = Astro.props;
const readService = DependencyLocator.getPostReadService();

const post = await readService.getPostById(astroPost.id);

if (!post) {
  throw new Error("Post not found");
}

const { Content } = await render(astroPost);
---

<Layout title={post.title.value}>
  <article class="max-w-3xl mx-auto">
    <img
      src={post.heroImage?.value}
      alt={post.title.value}
      class="w-full h-96 object-cover rounded-xl mb-12 shadow-2xl"
    />

    <header class="mb-12 w-full text-left">
      <h1 class="text-5xl font-bold mb-4 w-full">{post.title.value}</h1>
      <p class="text-brand font-bold text-xl mb-2">
        By {post.author.value}
      </p>
      <p
        class="text-gray-500 dark:text-gray-400 text-lg uppercase tracking-widest"
      >
        {post.date.value.toDateString()}
      </p>
    </header>

    <div
      class="prose dark:prose-invert prose-p:text-gray-700 dark:prose-p:text-gray-300 prose-headings:text-[#ff00ff] prose-a:text-[#ff00ff] max-w-none text-xl leading-loose font-sans"
    >
      <Content />
    </div>
  </article>
</Layout>
